body{
    background-color:whitesmoke;
}

h1 {
    text-align: center;
    font-family:'Lucida Sans Unicode';
    font-weight: bolder;

}

#design {
 font-size: larger;
 font-family: 'Times New Roman', Times, serif;
 color: rgb(5, 104, 5);
}

h2{
    font-family: monospace;
}

#todo {
    text-align: center;
    }
